<!DOCTYPE html>
<html>

<head>
     <title>About</title>
       <link rel="icon" href="img/Weather.png"> 

     <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<div class="main-content">
     {{>header}}
     <P>This site was created by Hassan El-sayed.it Uses data from OpenweatherMap </P>
     <img class= "portial" src="./img/me.jpg">
</div>
    {{>footer}}


</body>




</html>